h1
{
  padding-left: 5%;
  color: orangered;
}

body
{
  background-color: peachpuff;
}

.blueText
{
  color: blue;
  text-decoration: solid;
}

.flex-container
{
  display: flex;
}

.top-content
{
  background-color: blue;

  width: 80%;
  height: 20vh;

  padding: 5% 5% 5% 0%;
}

.image
{
  background-color: blue;

  padding-top: 5%;
  padding-right: 5%;
  margin: 0;
}

.main
{
  background-color: white;

  align-items: center;

  width: 70%;
  height: 80vh;

  padding: 5% 5% 5% 0%;

}


#main-content
{
  padding: 5%;
}

.divider
{
  background-color: orangered;
  height: 2px;
  margin-left: 5%;
  flex-grow:1;
}



.side
{
  background-color: orangered;
  align-items: center;

  width: 25%;
  height: 80vh;

  padding: 5% 5% 5% 0%;
}

#side-content
{
  padding: 5%;
}
