h1
{
  font-size: 4rem;
  padding-left: 5%;
  color: orangered;
}

body
{
  background-color: peachpuff;
}

a
{
  color: black;
  text-decoration: none;
}

img {
  border: 5px solid #555;
}

.blueText
{
  color: blue;
  text-decoration: solid;
}

.flex-container
{
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.top-content
{
  background-color: blue;

  width: 70%;
  height: 20%;

  padding: 5% 5% 5% 0%;
}

.image
{
  background-color: blue;

  width: 25%;

  justify-content: center;
  align-items: center;
  display: flex;

  margin: 0;
}

.main
{
  background-color: white;

  align-items: center;

  width: 70%;

  padding: 5% 5% 5% 0%;
}


#main-content
{
  padding-left: 5%;
  margin: 0;

}

.divider
{
  background-color: orangered;
  height: 2px;
  flex-grow:1;
}



.side
{
  background-color: orangered;

  align-items: center;

  width: 25%;
  min-height: 60%;

  padding: 5% 5% 5% 0%;
}

#side-content
{
  padding: 5%;
  margin: 0;
}
