/* GLOBAL: */

h1 {
  font-size: 4rem;
  font-weight: bold;
  font-family: "Monaco", monospace;
  color: blue;
}

body {
  background-color: whitesmoke;
}


/* NAV BAR: */

#logo {
  width: 200px;
}


.bluePartOfDrop:hover
{
  color: rgb(52, 168, 202);
}

.alwaysBlue
{
  color: rgb(52, 168, 202);
}

.subtext
{
  font-size: 0.75rem;
  color: gray;
}


.vr {
  color: rgba(0, 0, 0, 0.545);
}

#separator {
  height: 35px;
  background-color: white;
}

.nav-link:hover
{
  color: rgb(255, 115, 0);}

#freelancer
{
  color: rgb(255, 115, 0);
}



/* Main Text and Carousal: */

/* When screen size is less than 800px, the following properties will be applied */
@media only screen and (max-width: 800px) {

  /* This is to pile the columns in a row on top of each other in vertical lay out */
  .container {
    flex-direction : column;
  }

  #mainText
  {
    order: 2;
  }
  #carousal
  {
    order: 1;
  }
}
