#logo {
  width: 200px;
}

h1 {
  margin: auto;
  font-size: 4rem;
}

body {
  background-color: whitesmoke;
  font-family: "Open Sans", sans-serif;
}

.vr {
  color: rgba(0, 0, 0, 0.545);
}

#separator {
  height: 35px;
  background-color: white;
}

.bluePartOfDrop{}
.bluePartOfDrop:hover
{
  color: rgb(52, 168, 202);
}

.alwaysBlue
{
  color: rgb(52, 168, 202);
}

.subtext
{
  font-size: 0.75rem;
  color: gray;
}
